
*{
    background-color: rgb(214, 241, 241);
}

h3{
    text-align: center;
}
.row {
    overflow: hidden;
    

  }
.leftdiv{
    
    float: left;
    width: 49%;
    padding: 10px;
    
    margin-left: 250px;
   
}
.rigthdiv{
	float: right ;
    width: 30%;;
    padding: 10px;
    height:450px;
    
   
}
input{
    widows: 100px;
    height: 20px;
    padding: 20px;
    margin: 20px;
}
input[type=text],input[type=password],input [type=radio],select{
    border:2px solid rgb(21, 137, 221);
    border-radius:4px;
    background-color: rgb(168, 187, 195);
    color:black;
    
}
input [type=radio],select{
    padding: 10px;
}
label{
 border:none;
 font: 1em sans-serif;


}
.rigthdiv input{
    margin-top: 40px;
      padding: 15px;;
  }

select ,label{
    margin-left: 20px;
}
.btn{
    background-color: rgb(124, 229, 128) ;
    padding: 10px;
    border: 2px solid rgb(20, 176, 25);
    border-radius: 10px;
}
.bthn{
    background-color: rgb(181, 89, 35) ;
    padding: 10px;
    border: 2px solid rgb(193, 16, 16);
    border-radius: 10px;
    
}
}